extends layout

block content
      
  form.form(action="/cuenta" method="POST")
    h2= title
    //- pre= h.dump(user)
    .row
      .col-sm-12.col-md-4.mb-5
        input.notEmpty(type="text" name="nombre" value=user.nombre)
        label.label--up(for="nombre") Nombre(s)
      .col-sm-12.col-md-4.mb-5
        input.notEmpty(type="text" name="paterno" value=user.paterno)        
        label.label--up(for="paterno") Apellido Paterno
      .col-sm-12.col-md-4.mb-5
        input.notEmpty(type="text" name="materno" value=user.materno)
        label.label--up(for="materno") Apellido Materno
    .row
      .col-6
        .input-group.mb-5
          .input-group-prepend
            label.input-group-text(for='inputGroupSelect01') Sexo: #{user.sexo}
      .col-6.mb-5
        label.label--up
          | Fecha de nacimiento: #{user.dd}/#{user.mm}/#{user.yyyy}
    .row
      .col.mb-5
        input.notEmpty(type="email" name="email" value=user.email)
        label.label--up(for="email") Correo Electrónico

    .row.mb-5
      .col
        input.btn.btn-primary(type="submit" value="Actualizar")
      
