extends layout

block content
  .jumbotron
    .row
      .col-8
        h1.display-4 Estás organizando una fiesta?
      .col-sm-12.col-md-8.mb-3
        | Dinos el lugar, Ciudad, o Estado de tu 
        strong Wateke:
      .col-sm-11.col-md-6.mb-5
        .input-group
          .input-group-prepend
            span#basic-addon1.input-group-text
              != h.icon('party-location')
          input.form-control(type='text', id="watekeAddress", aria-label='Inserta tu wateke', aria-describedby='Look for you Latitud and longitud')
      
      .col-sm-12.col-md-8.lead.mb-4
        | Aquí podrás encontrar payasos, mariachis, flores, pasteles, accesorios y mucho más.
        //- br
        //- | Pero para darte un resultado más preciso necesitamos que nos digas donde será tu evento. 
