doctype html
html
  head
    title= `${h.siteName} | ${title || ''}`
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(rel='stylesheet', href='/dist/style.css')
    link(rel='stylesheet', href='/plugins/crystalslider.min.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.20/bootstrap-native-v4.min.js')
    script(type='text/javascript', src='/plugins/crystalslider.min.js')
    link(rel="shortcut icon" type="image/png" href="/images/icons/watekes_ico.png")
    meta(name="viewport" content="width=device-width, initial-scale=1", charset='UTF-8')
  body
    block header
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href=(location ? '/alrededor' : '/'))
          != h.icon('watekes_v1')
        //- button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
        //-   span.navbar-toggler-icon
        //- #navbarNavDropdown.collapse.navbar-collapse
          //- ul.navbar-nav
          //-   each item in h.menu
          //-     - var is_active = (currentPath.startsWith(item.slug) ? 'active' : '')
          //-     if item.submenu
          //-       li.nav-item.dropdown(class= is_active)
          //-         a.nav-link.dropdown-toggle(id=item.slug, href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          //-           | #{item.title}
          //-         .dropdown-menu(aria-labelledby=item.slug)
          //-           each sub in item.submenu
          //-             a.dropdown-item(href=sub.slug) #{sub.title}
          //-           div.dropdown-divider
          //-           a.dropdown-item(href=item.slug) Ver Todos  
          //-     else
          //-       li.nav-item(class= is_active)
          //-         a.nav-link(href=item.slug) #{item.title}
          
        ul.navbar-nav.ml-auto
          if user
            li.nav-item.dropdown(class= (currentPath.startsWith('/account') ? 'active' : ''))
              a.nav-link.dropdown-toggle(id='account', href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                span Bienvenido 
                strong(style='text-transform: capitalize') #{user.nombre} 
                != h.icon('login')
              .dropdown-menu(aria-labelledby='account')
                a.dropdown-item(href='/cuenta') Mi Cuenta
                a.dropdown-item(href='/add') 
                  != h.icon('add')
                  | Publicar Anuncio 
                a.dropdown-item(href='/hearts') 
                  != h.icon('heart')
                  span.heart-count #{user.hearts && user.hearts.length} 
                  | &nbsp;Favoritos
                div.dropdown-divider
                a.dropdown-item(href='/logout') 
                  != h.icon('logout')
                  | Salir
          else
            li.nav-item(class=(currentPath.startsWith('/register') ? 'active' : ''))
              a.nav-link(href='/register')
                != h.icon('lock')
                | Registrarse
            li.nav-item(class=(currentPath.startsWith('/login') ? 'active' : ''))
              a.nav-link(href='/login')
                != h.icon('key')
                | Ingresar

    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    .container
      block content
      
            //- .search
            //-   input.search__input(type="text" placeholder="Payasos, Magos..." name="search")
            //-   .search__results
            
  
      
    
    block footer
      // Footer
      footer.page-footer.font-small.bg-light
          .container
            // Grid row
            .row.py-4.d-flex.align-items-center
              // Grid column
              .col-md-6.col-lg-5.text-center.text-md-left.mb-4.mb-md-0
                h6.mb-0.white-text © Watekes 2018 
              // Grid column
              .col-md-6.col-lg-7.text-center.text-md-right
                // Mail
                a.ml-0
                  != h.icon('mail4')
                // Facebook
                a
                  != h.icon('facebook2') 
                // Youtube
                a
                  != h.icon('youtube') 
                // Whatsapp
                a
                  != h.icon('whatsapp') 
      
    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places&language=es`)
      script(src="/dist/App.bundle.js")
    
