extends layout

block content

  form.form(action="/register" method="POST")
    h2= title
    .form-group.row.mb-5
      .custom-control.custom-radio.col-6
        input#customRadioInline1.custom-control-input(type='radio', name='userType', checked='checked', value='user')
        label.custom-control-label(for='customRadioInline1') Voy a organizar una fiesta.
      .custom-control.custom-radio.col-6
        input#customRadioInline2.custom-control-input(type='radio', name='userType', value='provider')
        label.custom-control-label(for='customRadioInline2') Quiero anunciarme GRATIS.
        
    .row
      .col-sm-12.col-md-4.mb-5
        input(type="text" name="nombre")
        label.label--up(for="nombre") Nombre(s)
      .col-sm-12.col-md-4.mb-5
        input(type="text" name="paterno")        
        label.label--up(for="paterno") Apellido Paterno
      .col-sm-12.col-md-4.mb-5
        input(type="text" name="materno")
        label.label--up(for="materno") Apellido Materno
    .row.mb-5
      .col-2
        select#inputGroupSelect01.custom-select.notEmpty(name="sexo")
          option(selected='')
          option(value='F') F
          option(value='M') M
        label.label--up(for='inputGroupSelect01') Sexo
      .col-2
        - var days = 1;
        select.custom-select.notEmpty(name="dd")  
          option(value="") Día  
          while days <= 31
            option(value=days)= days++
        label.label--up(for="dd") Fecha de Nacimiento
      .col-4
        - var mes = 1;
        select.custom-select.notEmpty(name="mm")  
          option(value="") Mes  
          while mes <= 12
            option(value=mes)= mes++
      .col-4
        - var year = (new Date()).getFullYear();
        - var limitYear = year - 90
        select.custom-select.notEmpty(name="yyyy")  
          option(value="") Año  
          while year > limitYear
            option(value=year)= year--
    .row.mb-5
      .col
        input(type="email" name="email")
        label.label--up(for="email") Correo Electrónico

    .row
      .col-6.mb-5
        input(type="password" name="password")        
        label.label--up(for="password") Contraseña

      .col-6.mb-5
        input(type="password" name="password-confirm")
        label.label--up(for="password-confirm") Repite contraseña
    
    .row.mb-5
      .col
        input.btn.btn-primary(type="submit" value="Registrarse")
        
