extends layout

block content
  .inner
    form.form(method="POST")
      h2= title
      label(for="password") Contraseña
      input(type="password" name="password")
      label(for="password-confirm") Confirmar Contraseña
      input(type="password" name="password-confirm")
      input.button(type="submit" value="Reinicar")
        
