extends layout

include mixins/_storeCard
include mixins/_pagination

block content
  .location.row
    != h.icon('my-location')
    span Mi wateke sera en:&nbsp;   
    strong #{location}
    
  .row.mb-5
    .col-12
      ul.tags
        - var menu = ocupation ? JSON.parse(categoryCookie) : category
        each value, key in menu
          li.tag
            a.tag__link(href=`/alrededor/${key}` class=(key == ocupation ? 'tag__link--active' : ''))
              span.tag__text= key
              span.tag__count= value
    
  .stores
    each store in stores
      +storeCard(store)
  +pagination(page, pages, href)
