extends layout

include mixins/_reviewForm
include mixins/_review

block content
  //- pre= h.dump(store)
  .row.mt-4
    .col-12.text-center
      h2.title.title--single
        | #{store.name}
  .row.mt-4
    .col-12
      .crystal-slider
        each val,index in store.photos
          div
            .slider__inner
              img(src=`/uploads/${val}` , alt=`Photo ${index + 1}`)
    
      script.
        const crystalSlider = new CrystalSlider();

        
  .row
    .col-sm-12.col-md-6
      .payment-card
        span.badge.badge-warning.mt-4 $#{store.payment.price} Pesos
        span.payment-card__item #{store.payment.priceType} •
        span.payment-card__item
          if store.payment.upfront === '0' 
            | No se requiere anticipo •
          else
            | Anticipo del #{store.payment.upfront}%
        span.payment-card__item Forma de Pago: #{store.payment.paymentMethod}
    
    .col-sm-12.col-md-6  
      table.mt-4.contact-card
        if store.contact.fixPhone
          tr
            td.text-right.pr-2
              != h.icon("phone")
            td.text-left
              a(href=`tel:${store.contact.fixPhone}`) #{store.contact.fixPhone}
        if store.contact.whatsApp
          tr
            td.text-right.pr-2 
              != h.icon("whatsapp")
            td.text-left
              a(href=`https://api.whatsapp.com/send?phone=52${store.contact.whatsApp}`, target="_blank") #{store.contact.whatsApp}
                
        if store.contact.website
          tr
            td.text-right.pr-2
              != h.icon("keyboard")
            td.text-left
              a(href=`${store.contact.website}`, target="_blank") #{store.contact.website}
        if store.contact.fb
          tr
            td.text-right.pr-2 
              != h.icon("facebook2")
            td.text-left
              | #{store.contact.fb}
        if store.contact.youtubeCh
          tr
            td.text-right.pr-2
              != h.icon("youtube")
            td.text-left
              | #{store.contact.youtubeCh}
                
    .col-12.mt-3
      h5 Descripción
      p= store.description
        
    .col-sm-12.col-md-6.mt-3
      h5 Ofrecemos:
      ul.tags.tags__single
        each show in store.business.audienceType
          li.tag(class=(store.business.audienceType == 'Show Para Adultos' ? 'badge-danger' : 'badge-light'))
            span.tag__text #{show}

    .col-sm-12.col-md-6.mt-3
      h5 Nos especializamos en:
      ul.tags.tags__single
        each event in store.business.eventType
          li.tag.badge-light
            span.tag__text #{event}
      
    .col-sm-12.col-md-6.mt-3
      h5 Manejamos:
      ul.tags.tags__single
        each audience in store.business.audienceSize
          li.tag.badge-light
            span.tag__text #{audience}
      
    if store.business.lang != 'Español'
      .col-sm-12.col-md-6.mt-3
        h5 Se habla:
        ul.tags.tags__single
          each langs in store.business.lang
            li.tag.badge-light
              span.tag__text #{langs}
      
          
      
    if store.youtubeVideo[0]
        .col-12.mt-3
          h5 Video
          .is-video
            iframe.is-video--inner(src=`${store.youtubeVideo[0]}`)
                
    .col-12.mt-3
      h5 Nos encuentras en: 
      a(href=`https://maps.google.com/maps?q=${store.location.address}`, target="_blank")
        img.single__map(src=h.staticMap(store.location.coordinates))
        p.single__location.badge-dark.text-center= store.location.address

          
      //- .row.mt-4
      //-   .col 
      //-     if store.tags
      //-       ul.tags
      //-         each tag in store.tags
      //-           li.tag
      //-             a.tag__link(href=`/tags/${tag}`)
      //-               span.tag__text  ##{tag}

      if user   
        .row.mt-5
          .col
            +reviewForm(store)
  if store.reviews
    .reviews
      each r in store.reviews
        .review
          +review(r)
  
