mixin forgotForm()
  form.form(action="/account/forgot" method="POST")
    h6 Olvidé mi contraseña
    .row.mb-5.mt-4
      .col-sm-12
        input(type="email" name="email")
        label.label--up(for="email") Correo Electrónico
    input.btn.btn-secondary.mb-5(type="submit" value="Crear nueva contraseña")
