mixin loginForm()
  form.form(action="/login" method="POST")
    h2= title
    .row.mb-5
      .col-12
        input(type="email" name="email")
        label.label--up(for="email") Correo Electrónico
    .row.mb-5
      .col-sm-12
        input(type="password" name="password")
        label.label--up(for="password") Contraseña
    
    input.btn.btn-primary(type="submit" value="Ingresar")    
