mixin pagination(page, pages, href)
  //- .pagination
    //- .pagination__prev
    //-   if page > 1
    //-     a(href=`/stores/page/${page - 1}`) Prev
    //- .pagination__text
    //-   p Page #{page} of #{pages} 
      //- — #{count} total results
    //- .pagination__next
    //-   if page < pages
    //-     a(href=`/stores/page/${parseFloat(page) + 1}`) Next
  
  nav(aria-label='Pagination')
    ul.pagination.justify-content-end
      if page > 1
        li.page-item
          a.page-link(href=`${href}/page/${page - 1}`, tabindex='-1') Previous
      - var n = 1;
      while n <= pages
        li.page-item(class= (page == n)?'disabled': '' )
          a.page-link(href=`${href}/page/${n}`)= n++

      if page < pages
        li.page-item
          a.page-link(href=`${href}page/${parseFloat(page) + 1}`) Next
