mixin review(review)
  .review__header
    .review__author
      //- img.avatar(src=review.author.gravatar)
      != h.icon(`review${review.rating}`)
      p= review.author.nombre
    .review__stars(title=`Rated ${review.rating} our of 5 stars`)
      = `★`.repeat(review.rating)
      = `☆`.repeat(5 - review.rating)
      - var showTime = h.moment(review.created).fromNow()
      - h.moment.locale('es');
    time.review__time(datetime=review.created)= showTime
  .review__body
    p= review.text
