mixin storeCard(store = {})
  .store
    if store.payment.price 
      .store__price
          .store__amount= ` ${store.payment.priceType == "Precio Minimo" ? "Mínimo" : "" } $${store.payment.price}`
    .store__hero
      img(src=`/uploads/${store.photos[0] || 'store.png'}`)
    //- .store__details
    //-   p= store.description.split(' ').slice(0,25).join(' ')
    h2.title
      a(href=`/presenta/${store.slug}`) #{store.name}   
    
    .row 
      .col.text-center
        if store.business.audienceType    
          each audience, index in store.business.audienceType 
            span.badge.badge-light.mx-1(class=(audience == 'Show Para Adultos' ? 'txt--red': ''))= audience 
                
        if store.business.eventType 
          each event in store.business.eventType 
            span.badge.badge-light.mx-1= event 
    
        if store.business.lang[1] 
          span.badge.badge-light.mx-1=store.business.lang[1]
          
    .store__actions
      if user
        .store__action.store__action--heart
          form.heart(method="POST" action=`/api/stores/${store._id}/heart`)
            - const heartStrings = user.hearts.map(obj => obj.toString())
            - const heartClass = heartStrings.includes(store._id.toString()) ? 'heart__button--hearted' : '' 
            button.heart__button(type="submit" name="heart" class=heartClass)
              != h.icon('heart')
      //- if user && store.author.equals(user._id)
      //-   .store__action.store__action--edit
      //-     a(href=`/store/${store._id}/edit`)
      //-       != h.icon('pencil')
      if store.reviews
        .store__action.store__action--count
          != h.icon('review')
          span= store.reviews.length
      

           
