mixin storeForm(store = {})
  form.form(action=`/add/${store._id || ''}` method="POST" enctype="multipart/form-data")
    h2 Publicar Anuncio
    //- pre= h.dump(user)
    .row
      .col-12
        input(type="text" name="name" value=store.name)
        label.label--up(for="name") Nombre de Personaje, Grupo, o Negocio
      
    .row.pt-4
      .col-12
        .input-group.mb-3
          .input-group-prepend
            label.input-group-text(for='inputGroupSelect01') Que somos?
          select#inputGroupSelect01.custom-select.selectpicker(name="business[ocupation]")
            option(selected='')
            each ocupation in h.menu
              if ocupation.submenu
                optgroup(label=ocupation.title)
                  each sub in ocupation.submenu
                    option(value=sub.title) #{sub.title}
              else
                option(value=ocupation.title) #{ocupation.title}
    
    .row.pt-4
      .col-12      
        textarea(name="description", rows="5")= store.description       
        label.label--up(for="description") Descripción       
            
    .row.pt-4
      .col-12
        - const audiences = ['Show Infantil', 'Show Familiar', 'Show Para Adultos']
        - const audienceChecked = store.business && store.business.audienceType || []
        label(style="font-size:0.8rem") Selecciona los tipos de show que se ofrecen:
        ul.tags
          each audience in audiences
            .tag.tag__choice
              input(type="checkbox" id=audience value=audience name="business[audienceType]" checked=(audienceChecked.includes(audience)))
              label(for=audience)= audience

    .row.pt-4
      .col-12
        - const events = ['Bodas', 'Cumpleaños', 'XV Años', 'Baby Shower', 'Despedida de Soltero(a)', 'Eventos Corporativos']
        - const eventChecked = store.business && store.business.eventType || []
        label(style="font-size:0.8rem")  Nos especializamos en:
        ul.tags
          each event in events
            .tag.tag__choice
              input(type="checkbox" id=event value=event name="business[eventType]" checked=(eventChecked.includes(event)))
              label(for=event)= event
    
    .row.pt-4
      .col-12
        - const audienceSizes = ['Reuniones en Casa o Salon', 'Eventos Masivos']
        - const audienceSizeChecked = store.business && store.business.audienceSize || []
        label(style="font-size:0.8rem")  Tipo de Eventos:
        ul.tags
          each as in audienceSizes
            .tag.tag__choice
              input(type="checkbox" id=as value=as name="business[audienceSize]" checked=(audienceSizeChecked.includes(as)))
              label(for=as)= as
    
    .row.pt-4
      .col-12
        - const langs = ['Español', 'Inglés', 'Otro']
        - const langChecked = store.business && store.business.lang || []
        label(style="font-size:0.8rem")  Se habla:
        ul.tags
          each lang in langs
            .tag.tag__choice
              input(type="checkbox" id=lang value=lang name="business[lang]" checked=(langChecked.includes(lang)))
              label(for=lang)= lang  
    
    .divider
      span Pago Por Mis Servicios
    .row.pt-4
      .col-12
        .input-group.mb-3
          .input-group-prepend
            span.input-group-text $
          input.form-control(type='text', aria-label='Precios', name='payment[price]', value=store.payment && store.payment.price)
          .input-group-append
            span.input-group-text Pesos
      
    .row.pt-4
      .col-4
        select.input-group-text.notEmpty(name='payment[priceType]')
          option(value='Precio Unico') Unico
          option(value='Precio Minimo') Minimo
        label.label--up Precio
      .col-4
        select.input-group-text.notEmpty(name='payment[upfront]')
          option(value='')
          option(value='20') 20%
          option(value='30') 30%
          option(value='40') 40%
          option(value='50') 50%
          option(value='0') No
        label.label--up Anticipo
      .col-4
        select.input-group-text.notEmpty(name='payment[paymentMethod]')
          option(value='')
          option(value='Efectivo') Efectivo
          option(value='Oxxo') Oxxo
          option(value='Tarjeta') Tarjeta
        label.label--up Pago en:
    
    .divider
      span Contacto y Redes Sociales
    .row.pt-4
      .col-6
        input(type="text" name="contact[fixPhone]" value=store.contact && store.contact.fixPhone)
        label.label--up(for="contact[fixPhone]") Teléfono
      .col-6
        input(type="text" name="contact[whatsApp]" value=store.contact && store.contact.whatsApp)
        label.label--up(for="contact[whatsApp]") WhatsApp
    
    .row.pt-4
      .col-12
        input(type="text" name="contact[website]" value=store.contact && store.contact.website)
        label.label--up(for="contact[website]") Página Web  
    .row.pt-4
      .col-12
        input(type="text" name="contact[fb]" value=store.contact && store.contact.fb)
        label.label--up(for="contact[fb]") Facebook
        
    .row.pt-4
      .col-12
        input(type="text" name="contact[youtubeCh]" value=store.contact && store.contact.youtubeCh)
        label.label--up(for="contact[youtubeCh]") Canal de Youtube
    
    .divider
      span Fotos y Videos        
    .row.pt-5 
      .col-12
        input.notEmpty(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg", multiple)
        label.label--up(for="photos") Subir Fotos
        //- if store.photos
        //-   img(src=`/uploads/${store.photo}` alt=store.name width="200")
    
    .row.pt-5
      .col-12
        input(type="text" name="youtubeVideo" value=store.youtubeVideo)
        label.label--up(for="youtubeVideo") Link de video
        p(style="font-size: 0.8rem") Por ejemplo: https://www.youtube.com/watch?v=watekes
        
    .divider
      span Dinos tu Dirección
    .row.pt-4
      .col-12
        //- address, lng and lat
        input.notEmpty(type="text" id="address" name="location[address]" value=(store.location && store.location.address))
        //- label.label--up(for="address") Ingresa tu dirección
  
        input(type="hidden" id="lng" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0]))
        input(type="hidden" id="lat" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1]))

    //- .col-12
    //-   - const services = ['Payasito', 'Animador', 'Mago', 'Grupo de Banda', 'Mariachi', 'Grupo Musical', 'DJ', 'Botarga', 'Pinta caras', 'Acrobata', 'Bailarines', 'Stripper', 'Edecan', 'Renta de Inflables', 'Accesorios', 'Show para adultos']
    //-   - const tags = store.tags || []
    //-   ul.tags
    //-     each service in services
    //-       .tag.tag__choice
    //-         input(type="checkbox" id=service value=service name="tags" checked=(tags.includes(service)))
    //-         label(for=service)= service
    .row.pt-5
      .col
        input.btn.btn-primary(type="submit" value="Publicar")



        
  
