.navbar-brand{
  width: 85px;
}

.jumbotron{
  margin: 1rem auto;
  background: url(/images/ballons.png) no-repeat right top;
  background-size: 40%;
  max-width: 850px;
  @media (min-width: 768px) {
    background-position: right center;
  }

  p{
    padding-right: 15%;
  }
}

.ml-auto{
  svg{
    fill: rgba(0,0,0,.5);
    margin-right: 4px;
    display: block;
    margin: auto;
    @media (min-width: 500px) {
      float: left;
    }
  }
}

.page-item.disabled{
  .page-link{
    background: #999;
    color: #fff;
  }
}

.btn-primary, .btn-primary:hover{
  background: #5e1366;
}

.form-group{
  margin-bottom: 1.6rem;
  color: #666;
}

.input-group-text{
  background: #fff;
  border: 0;
}

.navbar-nav{
  flex-direction: row;
  .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
  }
  .dropdown-menu{
    position: absolute;
  }
}

.crystal-slider__slides-container {
    padding-bottom: 50%;
    height: 0;
    @media (min-width: 992px) {
      padding-bottom: 40%;
    }
    // background: #f8f9fa;
}

button.crystal-slider-nav__btn {
  border-width: 0 0 0 0;
  &:before {
    content: "";
    width: 30px;
    height: 30px;
    background: #ffffff87;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50px;
  }
  &:after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 6px;
    top: 6px;
    color: #000;
    background: none;
    border: solid;
    border-width: 0 5px 5px 0;
  }
}

button.crystal-slider-nav__btn_prev{
  left: 5px;
}
button.crystal-slider-nav__btn_next{
  right: 5px;
}


.crystal-slider__slide{
  img{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.slider__inner{
  overflow: hidden;
  &:before {
    content: "";
    float: left;
    padding-bottom: 50%;
    @media (min-width: 992px) {
      padding-bottom: 40%;
    }
  }
}

// a.nav-link{
//   display: flex;
//   span{
//     margin-right: 5px;
//   }
// }
