input, textarea {
  width:100%;
  padding:5px;
  border: 1px solid $grey;
  background: transparent;
  // margin-bottom: 2rem;
  &:focus{
     outline: none;
  }
  &.input {
    &--error {
      border-color: red;
    }
  }
}

.label--up {
  position: absolute;
  top: 0.55rem;
  left: 1.5rem;
  z-index: -1;
  color:#c3c3c3;
  transition: top 0.4s, font-size 0.4s;
  font-size: 1rem;
  width: max-content;
  input:focus + &, input.notEmpty + &, textarea:focus + &, textarea.notEmpty + &, select:focus + &, select.notEmpty + &{
    top: -1rem;
    font-size: 0.7rem;
  }
}


.form {
  padding: 1rem;
  box-shadow: $grad;
  max-width: 600px;
  margin: auto;
  & + .form {
    margin-top: 4rem;
  }
  input, textarea, select{
    border: 0;
    border-bottom: 1px solid $grey;
    border-radius: 20px 0 20px 0;
    font-size: 1rem;
  }
  select{
    width: initial;
    height: 2rem;
    min-width: 100%;
  }
  // I know this isn't bem but meh
  h2 {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}
.input-group-text{
  font-size: 0.7rem;
}

.divider {
    height: 0;
    border-bottom: 1px dotted #CCC;
    margin-top: 5rem;
    background: #fff;
    line-height: 0;
    text-align: center;
    span{
      background: #fff;
      padding: 0 10px;
    }
}
