.location{
  font-size: 0.8rem;
  color: #999;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 1rem;
  svg{
    width: 15px;
    fill: #999;
    margin-right: 5px;
  }
}
