.review {
  background: white;
  // border: 1px solid #ccc;
  border-bottom: 0;
  // border-bottom: 1px solid $grey;
  margin-bottom: 2rem;
  color: #999;
  // box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
  display: flex;
  flex-direction: row;
  // padding-left: 5px;
  // &:before {
  //   width:5px;
  //   left: 0;
  //   content: '';
  //   display: block;
  //   background: $verticalGrad;
  //   position: absolute;
  //   height: 100%;
  //   background-attachment: fixed;
  // }
  & svg{
    fill: #999;
    float: right;
    margin-left: 10px;
  }
  &__header {
    // border-bottom: 1px solid $grey;
    display: flex;
    flex-flow: column;
    width: 40%;
    // border-right: 1px dotted #ccc;
    align-items: flex-end;
    padding-right: 2rem;
    line-height: 0;
    & > * {
      // this is fine, don't email me about it
      // border-right: 1px solid $grey;
      // padding: 0.2rem;
      // display: flex;
      // align-items: center;
      // flex: 1;
      // justify-content: center;
      float: right;
      padding: 0.4rem 0px;
      width: 100%;
      text-align: right;
      &:last-child {
        border-right: 0;
      }
    }
  }
  &__author {
    // justify-content: flex-start;
    // padding-left:  2rem;
    // display: flex;
    font-weight: bold;
    text-transform: capitalize;
    .avatar {
      margin-right: 2rem;
    }
  }
  &__time {
    font-size: 0.8rem;
    color: lighten(black, 60%);
    text-transform: capitalize;
  }
  &__stars {
    color: $yellow;
    height: 2rem;
  }
  &__body {
    border: 1px solid #ccc;
    border-radius: 0 10px 10px 10px;
    position: relative;
    margin-top: 1rem;
    max-width: 50%;
    & p{
      line-height: 2rem;
      padding: 15px;
    }
    &:after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-bottom: 10px solid transparent;
      border-right:10px solid #ccc;
      top: -1px;
      left: -10px;
    }
  }
  p {
    white-space:pre-wrap;
    margin: 0;
  }
}
