.single {
  &__hero {
    // clip-path: circle(38% at 50% 50%);
    border-radius: 10px;
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    background-size: cover;
    background-position: center;
    margin: auto;
  }
  &__image {
    width: 100%;
  }
}
.contact-card{
  color:#999;
  margin: auto;
  svg{
    width: 24px;
    height: auto;
    fill: #999;
  }
  a{
    color: inherit;
  }
}

.payment-card{
  text-align: center;
  .badge{
    font-size: 1.5rem;
    display: block;
    width: fit-content;
    margin: 1rem auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  &__item{
    font-size: 0.9rem;
    color: #999;
    margin: 0 0.5rem
  }
}
