.stores {
  display:flex;
  flex-wrap:wrap;
}

.store {
  background:white;
  margin: 1.25em auto 15px auto;
  width: calc(33.3333% - 1.25em);
  font-size: 0.8rem;
  color: #999;
  position: relative;
  // box-shadow: $shad;
  // border: 1px dotted #999;
  border-radius: 5px;
  &__price{
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -0.6rem;
    transform: translateX(-50%);
  }
  &__amount{
    background: #fff;
    position: relative;
    padding: 0.2rem 1rem;
    font-size: 0.7rem;
    border-radius: 15px;
    color: #000;
    text-align: center;
    border: 1px solid #ccc;
  }
  &--wide {
    width: 100%;
  }
  &__details {
    padding: 0 2rem;
    p {
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
  @media all and (max-width: 850px) {
    width: calc(50% - 1.25em);
  }
  @media all and (max-width: 550px) {
    width: 100%;
  }
}

.store__actions {
  position: relative;
  z-index: 2;
  // border-bottom: 1px solid rgba(0,0,0,0.2);
  // box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 1px 0 rgba(255,255,255,0.2);
  // margin-bottom: 50px;
  // padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  color: #999;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
  margin-top: 0.8rem;
}

.store__action {
  font-size: 10px;
  svg {
    width: 25px;
    fill: #999;
  }
  &--edit {
    a {
      border-bottom: 0;
    }
  }
}


.store__hero {
  position: relative;
  padding: 0 10px 0 10px;
  text-align: center;
  height: 180px;

  img {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
    // clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    border-radius: 15px;
  }
}

.title {
  // font-family: 'Lobster';
  word-wrap: break-word;
  margin:0.3rem 1rem;
  font-size: 2rem;
  letter-spacing: -1px;
  line-height:1.1;
  text-align: center;
  text-transform: capitalize;

  &--long {
    font-size: 30px;
  }
  line-height:1.1;
  // inline link inside
  a {
    border-bottom: 0;
    // $yellowa: rgba($yellow,0.8);
    // background-image: linear-gradient(to right, $yellowa 100%, $yellowa 50%);
    color: #000;
    font-weight: inherit;
    padding: 0 10px;
  }
}

.title--single {
  // max-width: 600px;
  // margin-top: -9rem;
  font-size: 2rem;
  text-align: center;
  position: relative;
}

sup{
  border-bottom: 1px dotted #ccc;
}
.is-video{
  overflow: hidden;
  position: relative;

  &:before{
    content: "";
    float: left;
    height: 0;
    padding-bottom: 56.25%;
  }
}
.is-video--inner{
  position: absolute;
  width: 100%;
  height: 100%;
}

.single__map{
  width: 100%;
}
.txt--red {
    color: #c12167;
}
