.tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // margin-bottom: 2rem;
}
.tags__single{
  justify-content: left;
}

.tag {
  display: block;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  border-radius: 10px;
  text-transform: capitalize;

  &__choice {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-grow: 1;

    input {
      width: auto;
      right: -1.5rem;
      margin-right: -1rem;
      position: relative;
      z-index: 2;
      display: none;
      & + label {
        background: $grey;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 10px;
        text-align: center;
        width: 100%;
        cursor: pointer;
      }
      &:checked + label {
        background: $yellow;
      }
    }
  }
  &__link {
    background:$yellow;
    color:$black;
    display: flex;
    border-radius: 50px;
    font-size: 0.7rem;
    // padding-left: 10px;
    // clip-path: polygon(10px 0%, 100% 1%, 100% 100%, 10px 100%, 0% 50%);
    &--active {
      background: lighten($purple, 40%);
      .tag__text {
        color: white;
      }
    }
  }
  &__text {
    padding: 0.5rem 1rem;
    display: block;
  }
  &__count {
    padding: 0.5rem 1rem;
    background: rgba(250,250,250, 0.8);
    // margin-right: -1px; /* ugh */
    background-clip: padding-box;
    clip-path: polygon(15px 0%, 100% 1%, 100% 100%, 15px 100%, 0% 50%);
  }
}
