@import url('https://fonts.googleapis.com/css?family=Lobster');
// @font-face {
//     font-family: 'panama';
//     src: url('/fonts/panama-bold-webfont.woff2') format('woff2'),
//          url('/fonts/panama-bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//
// }

html {
  font-size:10px;
}

body {
  font-size:1.5rem;
  color:$black;
}

h1, h2, h3, h4, h5, h6, {
  font-size: 3rem;
  font-family: 'Lobster';
  font-weight: 400;
  letter-spacing:-1px;
  color: #999;
}

a {
  text-decoration: none;
  color:$black;
}

p a {
  border-bottom: 2px solid $yellow;
}

p {
  line-height: 2;
  font-size: 1.6rem;
}
